<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Aventri login</title>
      <script src="js.js"></script>
   </head>
   <body>
      <form
         class="form"
         style="
            display: flex;
            flex-direction: column;
            padding: 20px;
            max-width: 200px;
         "
      >
         <input
            type="email"
            placeholder="Email"
            class="email__input"
            required
         />
         <input
            type="text"
            class="text__input"
            placeholder="Reference number"
            required
         />
         <button type="submit">Login</button>
         <div class="s-msg"></div>
      </form>
   </body>
</html>
